<footer class="site-footer">
  <p class="site-info">
    Proudly powered by <a href="https://hexo.io/" target="_blank">Hexo</a> and
    Theme by <a href="https://github.com/CodeDaraW/Hacker" target="_blank">Hacker</a>
    </br>
    <% if (config.author){ %>
    &copy; <%= new Date().getFullYear() %> <%= config.author %>
    <% } else { %>
    &copy; <%= new Date().getFullYear() %> <%= config.title %>
    <% } %>
  </p>

  <% if (theme.graphviz.enable) { %>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/viz.js/1.7.1/viz.js'></script>
    <script>
      String.prototype.replaceAll = function(search, replacement) {
        var target = this;
        return target.split(search).join(replacement);
      };

      let vizObjects = document.querySelectorAll('.graphviz')

      for (let item of vizObjects) {
        let svg = undefined
        try {
          svg = Viz(item.textContent.replaceAll('–', '--'), 'svg')
        } catch(e) {
          svg = `<pre class="error">${e}</pre>`
        }
        item.outerHTML = svg
      }
    </script>
  <% } %>
</footer>
